header {
  text-align: center; 
  background-color: rebeccapurple;
  color: #ffffff;
}
h2 {
  color:#ccb3ff;
}
nav {
  float: left;
  width: 25%;
  padding: 10px;
  font-size: 30px;
  color: #ccb3ff;
}
article {
  float: left;
  width: 75%;
  padding: 10px;
}
section: :after {
  content:"";
  display: table;
  clear:both;
}
