* {
  box-sizing: border-box;
}
header {
  text-align: center; 
  background-color: rebeccapurple;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
}
h2 {
  color:#ccb3ff;
}
nav {
  float: left;
  width: 20%;
  padding: 20px;
  color: #ccb3ff;
}
nav ol {
  list-style-type: none;
  padding: 0;
}
article {
  float: right;
  width: 60%;
  padding: 40px;
}
aside {
  float: right;
  width: 20%;
  padding: 20px;
}
section: :after {
  content: "";
  display: table;
  clear: both;
}
footer {
  text-align: center;
  background-color: orange;
  padding: 10px;
  color: #ffffff;
}
img {
  float: left;
}
